@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    background-color: #1e1d2b;
    font-family: 'Poppins', sans-serif;
    color: white;
    margin: 1% 5%;
    min-width: 600px;
    height: 100%;
}

.container {
    display: grid;
}

p {
    margin: 0;
}

.header {   
    display: grid;
    grid-template-columns: 1fr 40%;
}

.menuP {
    display: grid;
    grid-template-columns: repeat(5, 20%);
    align-items: center;
}

.pageTitle {
    color: #ff702a;
    font-size: 30px;
    font-weight: 500;
}

.link {
    color: white;
    text-decoration: none;
    font-weight: 500;
}

.title {
    color: #ff702a;
    font-size: 1.5rem;
}

.home {
    margin: 10% 6% 10% 6%;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    align-items: center;
    justify-content: center;
}

.homeTitle {
    font-size: 7rem;
    font-weight: 500;
}

.homeText {
    font-size: 2rem;
    font-weight: 600;
}

.rightHome {
    display: flex;
    align-items: center;
    justify-content: center;
}

.about {
    margin: 10% 6% 10% 6%;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    align-items: center;
    justify-content: center;
    align-content: end;
}

.aboutText {
    font-size: 4rem;
    font-weight: 500;
}

.contentAbout {
    font-size: 1.5rem;
}

.leftAbout {
    display: flex;
    align-items: center;
    justify-content: center;
}

.button {
    background-color: #ff702a;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: 600;
    padding: 5px 10px;
    color: white;
}

.menu {
    margin: 10% 6% 10% 6%;
}

.menuText {
    font-size: 4rem;
    font-weight: 500;
}

.list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10%;
}

.centerText {
    text-align: center;
}

.blackText {
    color: black;
    font-weight: 500;
}

.service {
    margin: 10% 6% 10% 6%;
}

.learnMore {
    display: grid;
    align-items: center;
    justify-content: center;
    height: 75%;
    margin: 10% 6% 10% 6%;
}

.btnBig {
    width: 30%;
}