@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* GENERALES */

body {
    background-color: #1e1d2b;
    font-family: 'Poppins', sans-serif;
    color: white;
    margin: 1% 5%;
    height: 100%;
}

.container {
    display: grid;
}

p {
    margin: 0;
}

.link {
    color: white;
    text-decoration: none;
}

.navegacion {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding: 0px 20px;
    padding-left: 60px;
}

.menuA {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    padding: 0px 30px;
    transition: 0.4s;
}

.navTarget {
    display: none;
    cursor: pointer;
    order: 1;
}

.section {
    margin: 10% 6% 10% 6%;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    align-items: center;
    justify-content: center;
}

.sectionImage {
    width: 70%;
}

.title {
    color: #ff702a;
}

.centerText {
    text-align: center;
}

.blackText {
    color: black;
}

.backGround {
    background-color: #ffefe8;
}

/* HOME */

.header {   
    display: grid;
    grid-template-columns: 1fr 40%;
}

.rightHome {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* ABOUT */

.leftAbout {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* MENU */

.list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1%;
    place-items: center;
}

.menuImage {
    width: 70%;
}

.foodItem {
    background-color: #ffefe8; 
    padding: 7%; 
    position: relative;
    width: 60%;
}

.foodIcon {
    position: absolute; 
    background-color:#ff702a; 
    top: 1px; 
    right: 1px;
}

/* SERVICE */

.service {
    margin: 8% 6% 8% 6%;
}

.serviceImage {
    width: 60%;
}

/* CONTACT */

.learnMore {
    display: grid;
    align-items: center;
    justify-content: center;
    height: 75%;
    margin: 10% 3% 10% 3%;
}

.contact {
    margin: 10% 10% 5% 10%;
}

.listContact {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5%;
}

.iconContacts {
    margin: 0% auto 0% auto;
    padding: 0% 0% 20%;
}

.hrContact {
    width: 30%; 
    border: 1px solid #ff702a;
}

.contacts {
    display: grid;
    grid-template-columns: repeat(4, 20%);
    gap: 5%;
    
}

.contactLogos {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ff702a;
    width: 30px;
    height: 30px;
    border-radius: 100%;
}

/* FONTS */

.font1 {
    font-size: 1rem;
}

.font12 {
    font-size: 1.2rem;
}

.font13 {
    font-size: 1.3rem;
}

.font15 {
    font-size: 1.5rem;
}

.font2 {
    font-size: 2rem;
}

.font3 {
    font-size: 3rem;
}

.font4 {
    font-size: 4rem;
}

.font5 {
    font-size: 5rem;
}

.font500 {
    font-weight: 500;
}

.font600 {
    font-weight: 600;
}

/* BOTÓN */

.button {
    background-color: #ff702a;
    font-family: 'Poppins', sans-serif;
    padding: 5px 10px;
    color: white;
}

.btnBig {
    width: 35%;
}

@media (max-width : 840px) {
    .navTarget {
        display: block;
        color: #ff702a;
        font-size: 2rem; 
        text-decoration: none;
    }
    .menuP {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c2b47;
        left: 0;
        top: 15%;
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 100px;
        z-index: 1;        
        clip-path: circle(0% at top right);
        transition: clip-path 0.4s;
    }

    .menuP:target{
        clip-path: circle(150% at top right);
    }

    .menuP a {
        display: block;
        padding: 20px;
    }

    .down {
        grid-template-columns: 100%;
    }
    
    .leftHome {
        text-align: center;
    }

    .rightAbout {
        text-align: center;
    }

    .center {
        text-align: center;
        place-items: center;
    }

    .reverse {
        order: -1;
    }

    .newImageSize {
        width: 50%;
    }

    .newFontTitle {
        font-size: 3.5rem;
    }

    .newFontSub {
        font-size: 1.5rem;
    }

    .newFont {
        font-size: 2rem;
    }
}